.Rectangle {
  position: absolute;
}
/* Big Rectangle */
.Rectangle::before {
  content: "";
  position: absolute;
  width: 42.25em;
  height: 42.25em;
  right: 5em;
  top: 1.28em;
  background: rgb(250, 190, 15);
  border-radius: 12.5em;
  transform: rotate(16.41deg);
}
/* Circle */
.Rectangle::after {
  content: "";
  position: absolute;
  width: 20.95em;
  height: 20.95em;
  right: 40em;
  top: 20.67em;
  background: rgb(250, 190, 15);
  border-radius: 19.5em;
  transform: rotate(16.41deg);
}

.Ellipse {
  position: absolute;
}
/* Upper */
.Ellipse::before {
  content: "";
  position: absolute;
  width: 30em;
  height: 18em;
  left: -3em;
  top: 6em;
  background: rgb(250, 190, 15);
  border-radius: 50%;
  transform: rotate(-40.52deg);
}
/* Lower */
.Ellipse::after {
  content: "";
  position: absolute;
  width: 30em;
  height: 18em;
  left: -5em;
  top: 20em;
  background: rgb(250, 190, 15);
  border-radius: 50%;
  transform: rotate(-40.52deg);
}
/* Tablet */
@media screen and (max-width: 768px) {
  .Ellipse::before {
    width: 20em;
    height: 12em;
    left: -2em;
    top: 4em;
  }
  .Ellipse::after {
    width: 20em;
    height: 12em;
    left: -3em;
    top: 15em;
  }

  .Rectangle::before {
    width: 24rem;
    height: 24rem;
    right: 3em;
    top: 1.28em;
    border-radius: 6em;
  }
  .Rectangle::after {
    width: 12rem;
    height: 12rem;
    right: 25rem;
    top: 15rem;
  }
}
/* Mobile */
@media screen and (max-width: 640px) {
  .Ellipse::before {
    width: 12em;
    height: 7em;
    left: -1em;
    top: 3em;
  }
  .Ellipse::after {
    width: 12em;
    height: 7em;
    left: -2em;
    top: 10em;
  }

  .Rectangle::before {
    width: 12rem;
    height: 12rem;
    right: 3em;
    top: 1.28em;
    border-radius: 3em;
  }
  .Rectangle::after {
    width: 6rem;
    height: 6rem;
    right: 12.5rem;
    top: 9rem;
  }
}
